*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container{
    background: linear-gradient(30deg, rgb(67, 67, 110), Gray, rgb(111, 111, 87), rgb(125, 98, 102), rgb(70, 100, 70), rgb(141, 90, 90),rgb(117, 96, 96));
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
}

span{
    padding: 0 0 0 4px;
    color: gold;
    font-style: italic;
    border-top: groove thin #fff;
    border-left: groove thin #fff;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

li a{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

nav li:hover{
    background-color: rgb(192, 152, 52);
    height: 1px;
    transition: .2s;
}

.start{
    display: flex;
}

.car{
    width: fit-content;
    right: 3em;
    bottom: 0;
    border-radius: 30px;
    position: absolute;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding: 0 40px;
}

.intro h1{
    font-size: 60px;
    color: aqua;
}

.intro p{
    font-size: 20px;
    width: 20em;
}

button{
    padding: 10px 20px;
    border-radius: 6px;
    border: groove thin;
    margin-top: 10px;
    outline: 0;
    background: inherit;
    color: inherit;
}

button:hover{ 
    transform: scale(1.1);
    transition: .3s;
}

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 3em;
}

.v, .d{
    display: flex;
    gap: 7px;
}

.box1{
    background-color: rgb(46, 92, 122);
    width: 15em;
    padding: 15px;
    border-radius: 10px;
    height: 13em;
    color: #fff;
}

.box1 img{
    width: 140px;
    margin-left: 5.3em;
    margin-top: 4em;
    border-bottom-right-radius: 40px;
}

footer{
    background-color: rgb(47, 45, 45);
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 2em 10em;
    backdrop-filter: opacity(40%);
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px; 
}

footer h2{
    font-size: 15px;
    margin-bottom: 15px;
}

footer li a{
    font-size: 15px;
    font-weight: 400;
}

footer img{
    position: absolute;
    width: 30em;
    left: 58%;
    height: 40%;
    filter: opacity(20%);
    z-index: -1;
}

footer ul li:hover{
    color: gold;
}


@media (max-width: 1024px) {
    footer img{
        left: 53%;
    }

    .car{
        width: 60%;
        left: 40%;
        bottom: 0;
        border-radius: 30px;
        position: absolute;
    }
}

@media (max-width: 960px) {

    nav{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        color: white;
    }

    nav h2{
        font-size: large;
    }

    nav ul li a{
        font-size: small;
    }

    .container{
        background: linear-gradient(30deg, rgb(67, 67, 110), Gray, rgb(111, 111, 87), rgb(125, 98, 102), rgb(70, 100, 70), rgb(141, 90, 90),rgb(117, 96, 96));
        color: rgb(252, 252, 252);
        width: 100%;
        height: 45em;
        backdrop-filter: blur(60px);
    }

    .intro{
        margin-top: -250px;
    }

    .intro p{
        font-size: 15px;
        width: 10em;
    }

    .start img{
        position: absolute;
        top: 60%;
        left: 10%;
        opacity: 1;
        filter: contrast(100%);
        filter:grayscale(6.4);
        z-index: -1;
    }

.box1{
    background-color: rgb(46, 92, 122);
    width: 15em;
    padding: 15px;
    border-radius: 10px;
    height: 13em;
    color: #fff;
}

.box1 img{
    width: 140px;
    margin-left: 85px;
    margin-top: 4em;
    border-bottom-right-radius: 40px;
}

    footer ul li:hover{
        color: gold;
    }

    .start{
        display: flex;
        flex-direction: column;
    }

    .car{
        width: 90%;
        left: -5%;
        top: 70%;
        bottom: 0;
        border-radius: 30px;
        position: absolute;
    }

    footer img{
        position: absolute;
        width: 17em;
        left: 64%;
        height: 35%;
        z-index: -1;
        top: 60%;
    }
    footer{
        background-color: rgb(47, 45, 45);
        color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 7px;
        padding: 1em;
        backdrop-filter: opacity(40%);
        width: 100%;
    }
    
    footer ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px; 
    }
    
    footer h2{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .service{
        width: 100%;
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
        margin-bottom: 3em;
        margin-top: 9em;
    }
    
    .v, .d{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
@media (max-width: 760px) {

    nav{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        color: white;
        margin-bottom: 70px;
    }

    nav h2{
        font-size: large;
    }

    nav ul li a{
        font-size: small;
    }

    .container{
        background: linear-gradient(30deg, rgb(67, 67, 110), Gray, rgb(111, 111, 87), rgb(125, 98, 102), rgb(70, 100, 70), rgb(141, 90, 90),rgb(117, 96, 96));
        color: rgb(252, 252, 252);
        width: 100%;
        height: 45em;
        backdrop-filter: blur(60px);
    }

    .intro p{
        font-size: 15px;
        width: 10em;
    }

    .start img{
        position: absolute;
        top: 60%;
        left: 10%;
        opacity: 0.7;
        filter: contrast(100%);
        filter:grayscale(6.4);
        z-index: -1;
    }

.box1{
    background-color: rgb(46, 92, 122);
    width: 10em;
    padding: 15px;
    border-radius: 10px;
    height: 13em;
    color: #fff;
}

.box1 img{
    width: 140px;
    margin-left: 5px;
    margin-top: 4em;
    border-bottom-right-radius: 40px;
}

    footer ul li:hover{
        color: gold;
    }

    .start{
        display: flex;
        flex-direction: column;
    }

    .car{
        width: 90%;
        left: -5%;
        top: 70%;
        bottom: 0;
        border-radius: 30px;
        position: absolute;
    }

    footer img{
        position: absolute;
        width: 17em;
        left: 33%;
        height: 35%;
        z-index: -1;
        top: 60%;
    }
    footer{
        background-color: rgb(47, 45, 45);
        color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 7px;
        padding: 1em;
        backdrop-filter: opacity(40%);
        width: 100%;
    }
    
    footer ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px; 
    }
    
    footer h2{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .service{
        width: 100%;
        padding: 10px 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 3em;
        margin-top: 9em;
    }
    
    .v, .d{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}

@media (max-width: 460px) {

    nav{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        color: white;
    }

    .intro h1{
        font-size: xx-large;
    }

    nav h2{
        font-size: 15px;
    }

    nav ul li a{
        font-size: xx-small;
    }

    .container{
        background: linear-gradient(30deg, rgb(67, 67, 110), Gray, rgb(111, 111, 87), rgb(125, 98, 102), rgb(70, 100, 70), rgb(141, 90, 90),rgb(117, 96, 96));
        color: rgb(252, 252, 252);
        width: 100%;
        height: 45em;
        backdrop-filter: blur(60px);
    }

    .intro p{
        font-size: 15px;
        width: 10em;
    }

    .start img{
        position: absolute;
        top: 60%;
        left: 10%;
        opacity: 0.7;
        filter: contrast(100%);
        filter:grayscale(6.4);
        z-index: -1;
    }

.box1{
    background-color: rgb(46, 92, 122);
    width: 8em;
    padding: 15px;
    border-radius: 10px;
    height: 13em;
    color: #fff;
    margin-top: 15px;
}

.box1 img{
    width: 140px;
    margin-left: -27px;
    margin-top: 2em;
    border-bottom-right-radius: 40px;
}

    footer ul li:hover{
        color: gold;
    }

    .start{
        display: flex;
        flex-direction: column;
    }

    .car{
        width: 90%;
        left: -5%;
        top: 70%;
        bottom: 0;
        border-radius: 30px;
        position: absolute;
    }

    footer img{
        position: absolute;
        width: 17em;
        filter: grayscale(4.5);
        left: 26%;
        height: 35%;
        z-index: -1;
        top: 60%;
    }
    footer{
        background-color: rgb(47, 45, 45);
        color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 7px;
        padding: 1em;
        backdrop-filter: opacity(40%);
        width: 100%;
    }
    
    footer ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px; 
    }
    
    footer h2{
        font-size: 15px;
        margin-bottom: 10px;
        display: none;
    }

    .service{
        width: 100%;
        padding: 10px 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 19px;
        margin-bottom: 3em;
        margin-top: 9em;
    }
    
    .v, .d{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}